.popup-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 40%;
    height: 50%;
    min-height: 400px;
    border-color: rgb(124, 124, 124);
    border-style: solid;
    border-width: 1px;
    /* shadow */
    padding: 20px;
    overflow: auto;
}

.popup-container-large {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 50%;
    height: 60%;
    border-color: rgb(124, 124, 124);
    border-style: solid;
    border-width: 1px;
    /* shadow */
    padding: 20px;
    overflow: auto;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.popup-line{
    display: flex;
    align-items: center;
}

.popup-buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.textarea-input {
    resize: none;
}

.img-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
    height: 240px;
    /* height: 230px; */
}

.employee-image {
    height: 75%;
    margin-bottom: 10px;
}

.popup-box {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;   
}

.popup-new-component {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 280px;
    margin-top: 20px;
    background-color: white;
    border-color: rgb(124, 124, 124);
    border-style: solid;
    border-width: 1px;
    /* shadow */
    padding: 20px;
    overflow: auto;
}