.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
    margin-bottom: 10px;
  /* height: 100vh; */
}

.image-img {
  /* width: 100px; */
  height: 400px;
  object-fit: cover;
}